.b-button {
    padding: 5px;
    margin: 0;
}

.b-button:hover {
    cursor: pointer;
}



/*
    Elements
*/




/*
    Modificators
*/

.b-button_size_xl {
    padding: 10px;
    font-size: 12pt;
    line-height: 12pt;
}

.b-button_size_xl:active {
    font-size: 11pt;
}

.b-button_size_xxl {
    padding: 15px;
    font-size: 14pt;
    line-height: 14pt;
}

/*
    Themes
*/

.theme-dent .b-button {
    border-radius: 3px;
    border: 1px solid #e2e2e2;
}

.theme-dent .b-button_type_primary {
    border: 1px solid #3075a9;
    background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
    color: #ebeffa;
}

.theme-dent .b-button_type_primary:hover {
    background: linear-gradient(to bottom, #4aa5f5 0%, #2088f5 100%);
}

.theme-dent .b-button_type_primary:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(26, 136, 218, 1);
}

.theme-dent .b-button_type_primary:active {
    background: linear-gradient(to bottom, #4686d2 0%, #1d74d2 100%);
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 2px 5px;
}