.b-cards {
    margin: 0;
    padding: 10px 10px 0 10px;
    list-style: none;
    display: flex;
    flex-flow: row wrap
}

/*
    Elements
*/
.b-cards__item {
    width: 150px;
    height: 300px;
    background: #ccc;
    margin: 0 10px 10px 0;
    border-radius: 3px;
}


/*
    Modificators
*/

