.b-layout {
    width: 100%;
    height: 100%;

    position: relative;
    margin: 0;
    padding: 0;

    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: center;
}

/*
  Elements
*/

.b-layout__header {
    min-height: 140px;

    position: relative;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-basis: 100%;
}
.b-layout__content {
    padding: 10px;

    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    align-items: flex-start;

}
.b-layout__footer {
    padding: 10px;

    display: flex;
    flex-basis: 100%;
}


/*
    Modificators
*/

.b-layout__content_vcentered {
    justify-content: center;
}

.b-layout__content_hcentered {
    align-items: center;
}