.b-layout {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    flex: auto;
    flex-flow: column nowrap;
    align-content: stretch;
}

/*
  Elements
*/

.b-layout__header {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex: 1 1 50px;

}

.b-layout__content {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex: 1 80%;
    flex-flow: column wrap;
    justify-content: flex-start;

}

.b-layout__footer {
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    flex: 1 50px;
}

/*
    Modificators
*/

.b-layout__header_fixed-height {
    flex-grow: 0;
}

 .b-layout__footer_fixed-height {
    flex-grow: 0;
}

.b-layout__content_hcentered {
    align-items: center;
}