.b-layout {
    height: 100%;

    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    align-content: stretch;
}

/*
  Elements
*/

.b-layout__header {
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex: 1 1 50px;

}
.b-layout__content {
    position: relative;
    box-sizing: border-box;

    display: flex;
    flex: 1 80%;
    flex-flow: column wrap;
    justify-content: flex-start;

}
.b-layout__footer {
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex: 1 50px;
}


/*
    Modificators
*/

.b-layout__header_fixed-height {
    flex-grow: 0;
}

.b-layout__content_vcentered {
    /*justify-content: center;*/
}


.b-layout__content_hcentered {
    align-items: center;
}