@settings_main {
	<div id="tabs">
		<ul>
			<li><a href="@routes.DoctorsController.listOfDoctors">Список докторов</a></li>
			<li><a href="#tab-2">Список кабинетов (кресел)</a></li>
			<li><a href="#tab-3">Настройки приложения</a></li>
		</ul>
<!-- 		<div id="tab-1"> -->
<!-- 		  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. -->
<!-- 		</div> -->
		<div id="tab-2">
<!-- 		  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. -->
		</div>
		<div id="tab-3">
<!-- 		  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. -->
		</div>
	</div>
	<script type="text/javascript">
		$("#tabs").tabs({
			beforeLoad: function( event, ui ) {
				ui.jqXHR.error(function() {
			          ui.panel.html(
			            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
			            "If this wouldn't be a demo." );
			        });
			}
		});
	</script>
}