@settings_main {
	<div id="tabs">
		<ul>
			@checkAccess("controllers.UsersController.index") {
				<li><a href="@routes.UsersController.index">Список пользователей</a></li>
			}
			@checkAccess("controllers.DoctorsController.index") {
				<li><a href="@routes.DoctorsController.index">Список докторов</a></li>
			}
			@checkAccess("controllers.GroupsController.index") {
				<li><a href="@routes.GroupsController.index">Группы</a></li>
			}
			
			<li><a href="#tab-3">Настройки приложения</a></li>
		</ul>
	</div>
	<script type="text/javascript">
		$("#tabs").tabs({
			beforeLoad: function( event, ui ) {
				ui.jqXHR.error(function() {
			          ui.panel.html(
			            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
			            "If this wouldn't be a demo." );
			        });
			}
		});
	</script>
}