.b-content {
    flex: 1 1 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
}

/*
    Elements
*/
.b-content__header {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px dashed #e6e9ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-content__title {
    display: inline-block;
    color: #2369b8;
    font-size: 20px;
    margin: 0 10px;
    vertical-align: middle;

}

.b-content__wrapper {
    overflow-y: auto;
}