.b-settings {
    flex-flow: row nowrap;
}

/*
    Elements
*/

.b-settings__menu {
    flex: 1 0 250px;
    background: #e7f4ff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.b-settings__content {
    flex: 1 1 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
}

.b-settings__content-wrapper {
    overflow-y: auto;
}

.b-settings__title {
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px dashed #e6e9ec;
    color: #2369b8;
    font-size: 20px;
    line-height: 2.5;
    flex-shrink: 0;
}

/*
    Modificators
*/
