@(activeItem: String)(contentSettings: Html)

@main(pages.settings.index.indexSettingsStyles())(pages.settings.index.indexJsLibs())(pages.settings.index.indexSettingsHeader())(pages.settings.index.indexSettingsFooter()) {
    <div class='b-layout__content b-layout__content_flow_row'>
        <nav class='b-menu b-list'>

            <a class='b-menu__link @if(activeItem == "application") { b-menu__link_active }' href='@routes.SettingsController.index'>Настройки приложения</a>

            @checkAccess("controllers.UsersController.index") {
            <a class='b-menu__link @if(activeItem == "users") { b-menu__link_active }' href='@routes.UsersController.index'>Список пользователей</a>
            }

            @checkAccess("controllers.DoctorsController.index") {
            <a class='b-menu__link @if(activeItem == "doctors") { b-menu__link_active }' href='@routes.DoctorsController.index'>Список докторов</a>
            }

            @checkAccess("controllers.GroupsController.index") {
            <a class='b-menu__link @if(activeItem == "groups") { b-menu__link_active }' href='@routes.GroupsController.index'>Группы</a>
            }

        </nav>
        <div class='b-content'>
            @contentSettings
        </div>
    </div>
}