@(header: Html)(content: Html)

<!DOCTYPE html>

<html class='b-html theme-dent'>
    <head>
        <title>easyReg</title>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <script src='@routes.Assets.at("javascripts/jquery-1.10.2.js")' type='text/javascript'></script>
    </head>
    <body class='b-body b-page'>
        <section class='b-layout'>
            <div class='b-layout__header'>@header</div>
            <div class='b-layout__content b-layout__content_hcentered'>@content</div>
            <div class='b-layout__footer'></div>
        </section>
    </body>
</html>
