@(loginForm : Form[Application.LoginForm])

@main(pages.login.loginStyles())(pages.login.loginJsLibs())(pages.login.loginHeader())(pages.login.loginFooter()) {
    <div class='b-layout__content b-layout__content_hcentered'>
        <div class="b-logo"></div>
        <form class='b-auth-form b-form b-form_stretch'action='@routes.Application.auth' method='post'>
            <fieldset class='b-form__content'>
                <legend class='b-form__title'>Войдите в систему</legend>
                <div class='b-form__controls'>
                    <div class='b-form__control'><input  class='b-input  b-input_size_xl'  type='text' id='login' name='login' value='@loginForm("login").value' placeholder="Логин" required='required'/></div>
                    <div class='b-form__control'><input  class='b-input  b-input_size_xl'  type='password' id='password' name='password' autocomplete='off' placeholder="Пароль" required='required'/></div>
                    <div class='b-form__control'><button class='b-button b-button_type_primary b-button_size_xl' type='submit'>Войти</button></div>
                </div>
            </fieldset>
            <footer class='b-form__footer'></footer>
        </form>
    </div>
}